body {
    margin: 0;
    padding: 0;
    background: #333;
    color: white;
    margin-top: 10%;
}

.main {
    width: 100%;
    text-align: center;
}

.title {
    text-align: center;
}

.play {
    display: flex;
    justify-content: center;
    padding: 12px 16px;
}

#score1 {
    float: left;
    border: 1px solid white;
    padding: 40px;
    margin-left: 25px;
    border-radius: 15%;
    background: #f3f3f3;
    color: black;
}

#score2 {
    float: right;
    border: 1px solid white;
    padding: 40px;
    margin-right: 25px;
    border-radius: 15%;
    background: #f3f3f3;
    color: black;
}

.info {
    display: block;
    justify-content: center;
}

.buttons {
    display: flex;
    justify-content: center;
    padding: 40px;
}

.btn {
    padding: 40px;
    margin: 5px;
}

.winner {
    text-align: center;
}